#container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.page.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}

/* Spinner: http://37signals.com/svn/posts/2577-loading-spinner-animation-using-css-and-webkit */
div.spinner {
    position: absolute;
    width: 54px;
    height: 54px;
    display: inline-block;

    left: 50%;
    top: 50%;
    margin: -54px 0 0 -27px;

}

div.spinner div {
    width: 12%;
    height: 26%;
    background: #666;
    position: absolute;
    left: 44.5%;
    top: 37%;
    opacity: 0;
    -webkit-animation: fade 1s linear infinite;
    -webkit-border-radius: 50px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

div.spinner div.bar1 {
    -webkit-transform: rotate(0deg) translate(0, -142%);
    -webkit-animation-delay: 0s;
}

div.spinner div.bar2 {
    -webkit-transform: rotate(30deg) translate(0, -142%);
    -webkit-animation-delay: -0.9167s;
}

div.spinner div.bar3 {
    -webkit-transform: rotate(60deg) translate(0, -142%);
    -webkit-animation-delay: -0.833s;
}

div.spinner div.bar4 {
    -webkit-transform: rotate(90deg) translate(0, -142%);
    -webkit-animation-delay: -0.75s;
}

div.spinner div.bar5 {
    -webkit-transform: rotate(120deg) translate(0, -142%);
    -webkit-animation-delay: -0.667s;
}

div.spinner div.bar6 {
    -webkit-transform: rotate(150deg) translate(0, -142%);
    -webkit-animation-delay: -0.5833s;
}

div.spinner div.bar7 {
    -webkit-transform: rotate(180deg) translate(0, -142%);
    -webkit-animation-delay: -0.5s;
}

div.spinner div.bar8 {
    -webkit-transform: rotate(210deg) translate(0, -142%);
    -webkit-animation-delay: -0.41667s;
}

div.spinner div.bar9 {
    -webkit-transform: rotate(240deg) translate(0, -142%);
    -webkit-animation-delay: -0.333s;
}

div.spinner div.bar10 {
    -webkit-transform: rotate(270deg) translate(0, -142%);
    -webkit-animation-delay: -0.25s;
}

div.spinner div.bar11 {
    -webkit-transform: rotate(300deg) translate(0, -142%);
    -webkit-animation-delay: -0.1667s;
}

div.spinner div.bar12 {
    -webkit-transform: rotate(330deg) translate(0, -142%);
    -webkit-animation-delay: -0.0833s;
}

@-webkit-keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.25;
    }
}